<form>
	<label>Search
	<input type="text" ng-model="term">&nbsp;<button class="btn btn-primary" ng-click="searchFor(term)">Search</button>
</label>

<div ng-show="getCount() > -1 && getResults() !== null">
    <uib-pagination total-items="getCount()"  boundary-links="true" max-size="maxSize" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
</div>

<div class="row marketing" ng-show="getCount() > -1">
	<h4>{{getCount()}} results for &quot;{{getProduct()}}&quot;</h4>
	<table class="table table-striped" ng-show="getProduct() !== null">
		<tr ng-repeat="result in getResults()"><td>{{result.brand.name}}</td><td>{{result.category.name}}</td><td>{{result.product.name}}</td></tr>
	</table>
</div>
